.tiles a,.tiles a:hover{
  color:#1a1a1a;
}

#toggle-job-info h4{
  color:#fff;

}

.share-icons{
  font-size:25px;
  margin-top:45px;
}

.alt-hr{
  margin-top:35px;
  margin-bottom:35px;
  border-top:1px solid #736661 !important;

}
