/* Header v2 - full width*/
.header-v2{
	padding-left:50px;
	padding-right:50px;	
}


.top-nav .nav{
	list-style: none;
	margin: 0;
	padding: 0;
	width:100%;	
	display:flex;
	flex-direction:row;
	white-space: nowrap;
}

.top-nav .nav li{
	text-align:center;
	/*margin-right:96.5px;*/
	flex:1;
}
.top-nav .nav li a .fa{
	float:left;
	margin-top:-5px;
}

.tiles:nth-child(odd){
	padding-left: 15px;
	padding-right: 15px;
}
.tiles:nth-child(even){
	padding-left: 15px;
	padding-right: 15px;
}







