/* CSS Document */
/** Core CSS */
@import url(//fonts.googleapis.com/css?family=Oswald:400,300,700|PT+Serif:400,700,400italic,700italic);
body,
html{
	font-size:16px;
}
/** Font Family */
body,
html
p,
a,
span,
input,select,textarea,
table,td,th,tr,
h1,h2,h3,h5,h6,
.cart-actions .wishlist,
.nav-tabs li a,
.product-details p,
.modal,
.modal-title-site,
.item h4 a,
.miniCartDescription .info,
.miniCartDescription .trash,
.subtotal-amount,
.pagination-alt > li > a, 
.pagination-alt > li > span{
	font-family:'Oswald', sans-serif;
}

h4,
h4 a,
.cartMenu .cartRespons,
.description p,
.miniCartTable th,
.miniCartFooter .subtotal{
	font-family: 'PT Serif', serif;
}

/** Text Colors */
body,
html,
.cartMenu a.dropdown-toggle{
	color:#394444;		
}


::selection{
	background:#71bf44;
}
a{
	color:#394444;
	transition:none !important;	
}
h1,h2,h3,h5,h6{
	color:#394444;
}

span,
input,select,textarea,
a,
table,td,th,tr{
	color:#363737;	
}
p{
	color:#363737;
	font-size:16px;	
	line-height:28px;
}
h1{
	text-transform:uppercase;
	font-size: 75px;
	font-weight: 700;
	padding-bottom: 0;
	line-height: 88px;
	/*-webkit-text-stroke: 1px #394444;
    text-shadow:
       1px 0px 0 #394444, 
	   0px 0px 0 #394444, 
	   0px 0px 0 #394444, 
	   0px 0px 0 #394444, 
	   0px 0px 0 #394444*/
}
h2{
	font-size:28px;	
	font-weight:700;
	padding-bottom:0;
	line-height:34px;
}
h3{
	font-size:20px;	
	font-weight:400;
	padding-bottom:0;
}
h4{
	font-size:18px;
	font-weight:400;
	line-height:24px;
	font-style:italic;
	padding:20px 0;
}
h5{
	font-size:19px;
	font-weight:700;	
	line-height:23px;	
}
h6{
	font-size:16px;
	font-weight:700;
	line-height:20px;	
	padding-bottom:0;
}


.headerOffset{
	/* Enable top padding for fixed header */
	/*padding-top:320px;	*/
	padding-top:40px;
}
.title-big{
	font-size:31px;
	font-weight:900;	
}
a:hover{
	color:#71bf44;	
}
p.contact-us{
	line-height:20px;		
}

/* nav */
.nav .open > a, 
.nav .open > a:hover, 
.nav .open > a:focus, 
.cartMenu:hover > a.dropdown-toggle{
	background:none;
}
.navbar .navbar-top{
	margin-top:15px;	
}
.navbar{
	min-height:40px;	
}
.navbar-tshop,
.navbar-top{
	background:#000000;	
}

.navbar-header{
	min-height:152px;	
}

.navbar > .container .navbar-brand, 
.navbar > .container-fluid .navbar-brand{
	margin-left:0;	
}
.navbar-brand{
	padding:0;
	height:40px;
}
.navbar-brand img{
	margin-top:0;	
}
.top-social li,
.top-social li a{
	font-size:18px;
	line-height: 30px;
	padding-right:5px;
}
.top-social li:last-child,
.top-social li a:last-child{
	padding-right:0;	
}

.top-nav{
	float:right;
	/*width:100%;*/
}

.top-nav .nav{
	width:100%;	
}

.top-nav .nav li{
	text-align:center;
	/*margin-right:96.5px;*/
}
	
.top-nav .nav li:last-child{
	margin-right:0;	
}

.top-nav .nav li a{
	background-position:center center;	
	font-size:16px;
	font-weight:400;
	padding-top: 0;
	padding-bottom: 0;
	padding-right: 0;
	padding-left: 30px;
}
.top-nav-wrap{
	position:relative;
	z-index:1000;	
}
/** Normal Noav */
#normal-nav{
	min-height:145px;	
}
#normal-nav a.navbar-brand{
	line-height:140px;	
}
#normal-nav .top-nav .nav li a{
	line-height:140px;	
}
#normal-nav .navbar{
	margin-bottom:0;	
}
/** Scroll Nav */
#scroll-nav{
	display:none;
	min-height:44px;	
	position:fixed;	
	width:100%;
}
#scroll-nav .top-nav .nav li a{
	line-height:44px;	
}
#scroll-nav-offset{
	display:none;
	padding-top:150px;
}



.nav-social{
	position: absolute;
	right: 0;
	bottom: 15px;
	color: #fff;
	padding-right: 15px;
}
.nav-social .fa{
	margin-left:10px;
	color:#fff;	
}

/** Mob Nav */
.mob-nav-btn{
	padding: 7px 15px !important;
	font-size: 26px;
}

/*
	
 OLD NAV - kept for reference	
	
.top-nav .nav li:nth-child(1) a,
.top-nav .nav li:nth-child(1) a:hover{
	background-image:url(../images/icons/but1.png);
	background-repeat:no-repeat;
	background-position:center center;
	width:230px;
}

.top-nav .nav li:nth-child(2) a,
.top-nav .nav li:nth-child(2) a:hover{
	background-image:url(../images/icons/GetKlop.png);
	background-repeat:no-repeat;
	background-position:center center;
	width:205px;	
}

.top-nav .nav li:nth-child(3) a,
.top-nav .nav li:nth-child(3) a:hover{
	background-image:url(../images/icons/but3.png);
	background-repeat:no-repeat;
	background-position:center center;	
	width:219px;
}

.top-nav .nav li:nth-child(4) a,
.top-nav .nav li:nth-child(4) a:hover{
	background-image:url(../images/icons/but4.png);
	background-repeat:no-repeat;
	background-position:center center;
	width:194px;	
}*/

.top-nav .nav > li.active,
.top-nav .nav > li > a:hover, 
.top-nav .nav > li > a:focus, 
.top-nav .nav > li:hover > a{
	background:none;
}

.userMenu li a{
	color:#363737;	
}
.userMenu li a:hover{
	color:#71bf44;	
}
.head-usr-menu li a{
	line-height:16px;
	font-size:14px;
	padding-right:10px;
}
.account-nav{
	float:left;
	min-width: 262px;
	font-size: 14px;
	padding-top: 10px;
	display: inline-block;
}
.account-nav > span:first-child{
	font-weight: 700;
	letter-spacing: 1px;	
}

.navbar-fixed-top{
	/* Make position fixed for fixed nav */
	position:relative;	
}


/** Top Nav Cart */
.navbar-right{
	max-width:262px;	
}
.top-cart-wrap{
	min-width:262px;
}
.top-cart-wrap ul li{
	padding-top:4px;	
}
.cartMenu{
	float:right;	
	border-radius:4px;
	padding-top: 10px;
}
.cartMenu .cartRespons{
	font-size:16px;	
	font-weight:100;
	letter-spacing:0.5px;
	text-transform:none;
	margin-left:3px;
}
.cartMenu .fa{
	font-size:20px;	
}
.cartMenu a.dropdown-toggle{
	padding-right:0;	
}
.cartMenu .dropdown-menu{
	/*display:block;*/	
	min-width:280px;	
}
.cartMenu .cart-subhead{
	font-size:20px;
	font-weight:400;
	padding-bottom:0;
	display:block;	
}
.cartRespons{
	color:#363737;	
}
.cartMenu .dropdown-menu{
	border-top:1px solid #cdd0d0;
	border-radius:5px;	
}
.miniCartTable{
	padding:15px 20px;	
}
.miniCartTable th{
	font-weight:100;
	font-style:italic;	
}
.cartMenu h4{
	font-size:14px;	
	padding-top:0;
}
.cartMenu table tr{
	border-bottom:none;	
}
.miniCartDescription .info,
.miniCartDescription .trash{
	font-size:14px;
	font-weight:700;
	text-transform:uppercase;
}
.miniCartDescription .trash span:hover{
	color:#a94442;	
}
.miniCartDescription .trash .fa{
	font-size:14px;	
}
.miniCartProductThumb > div{
	background-color:#000;
	height:55px;
	width:55px;	
}
.cartMenu img{
	width:100%;	
}
.miniCartFooter{
	background:none;	
	padding:15px 20px;
	float:left;
}
.miniCartFooter .subtotal{
	font-weight: 100;
	font-style: italic;
	text-transform: none;
	font-size: 14px;
	border-top:1px solid #d7dada;
	border-bottom:1px solid #d7dada;
	padding: 10px 0;
	margin-bottom: 15px;
}
.sliderControl{
	color:#363737;	
}

/** CMS */
.main-container{
	min-height:400px;	
}
.banner{
	margin-top:0;
	float:left;	
}
.banner-img-wrap img{
	width:100%;	
}
.banner-caption{
	background-color: rgba(255,255,255,0.75);
	position: absolute;
	bottom: 0;
	min-width: 400px;
	padding: 15px 20px;
}
.banner-caption h1{
	font-size:35px;	
	line-height:36px;
}
.banner-caption h4{
	font-size:16px;
	line-height:18px;
	padding:5px 0 0 0;
}
#pager2 span{
	border:2px solid #71bf44;	
}
#pager2 span.cycle-pager-active {
	background: #71bf44 !important;
}
.innerPage{
	/* Enable top padding for fixed header */
	/*padding-top:250px;*/	
	padding-top:0;
}
.custom-padding{
	padding:30px 0 0 0;
}
.tiles-wrap{
	float:left;	
}
.tiles-wrap .tiles{
	padding-bottom:30px;
}
.tiles img{
	width:100%;	
}

h2.block-title-2, 
.formBox h3, 
.block-title-2{
	font-size: 18px;
	padding-bottom: 5px;
}

/** FORM ELEMENTS */
input[type="text"], 
input[type="password"], 
input[type="email"]{
	border-color:#ccc;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius:4px;
	border-width: 1px;
	color: #363737;
	font-size: 14px;
	margin-bottom: 10px;
	height: 36px;
}
.custom-input{
	background-color: #ebe7e6;
	width: 190px;
	height: 42px !important;
	border-width: 0 !important;
	border-radius: 6px !important;
	margin-right: 8px;
	padding-left:15px;
	color:#363737 !important;
}

.custom-input::-webkit-input-placeholder {
   color: #363737;
}

.custom-input:-moz-placeholder { /* Firefox 18- */
   color: #363737;  
}

.custom-input::-moz-placeholder {  /* Firefox 19+ */
   color: #363737;  
}

.custom-input:-ms-input-placeholder {  
   color: #363737;  
}
.input-group-addon{
	color:#363737;
	font-size:16px;
	font-weight:400;	
}
.custom-form .form-control{
	border-radius:0;
	background-color:#ebebeb;
	min-height:52px;
	box-shadow:none;
	border:none;
}

/** PAGINATION */
.pagination-alt > li > a, 
.pagination-alt > li > span{
	border: none;
	color: #2e3838;
	box-shadow: none;
	padding: 6px;
	font-size: 18px;
	font-weight: 700;
}

/** TEXT COLORS */
.text-success{
	color:#71bf44;
}
.site-color{
	color:#71bf44 !important;	
}
span.success, 
p.success div.success{
	color:#71bf44;
}

/** BUTTONS AND ICONS */
.btn{
	color: #2e3838;
}
.btn-addcart{
	width: 205px;
	height: 48px;
}
.btn-checkout{
	width: 176px;
	height: 47px;
	text-align:center;
}
.btn-addcart{
	width: 205px;
	height: 48px;
}
.btn-green-checkout{
	
}
.btn-keep-shopping{
	
}
.btn-contact-us{
	width: 143px;
	height: 46px;
	text-align:center;
	color:#fff;
}
.cart-actions .wishlist:hover,
.btn-checkout:hover{
	color:#fff;	
}
.cart-actions button:hover{
	color:#fff;	
}
.action-control a,
.action-control a:hover, 
.action-control a.active{
	background-color:#71bf44;
	border-color:#71bf44;
	color:#fff;
}
span.add2cart{
	color: #2e3838;
	font-size: 14px;
	font-weight: 700;
}
.btn{
	text-transform:uppercase;
	line-height:1;
	border-radius:8px;	
}
.btn-success{
	background-color:#71bf44 !important;
	border-color:#71bf44;
}
.btn-primary{
	background-color: #fff !important;
	border-color: #2e3838 !important;
	border-width: 1px;
	border-style: solid;
}
.btn-success:hover, 
.btn-success:focus, 
.btn-success:active, 
.btn-success.active, 
.open .dropdown-toggle.btn-success{
	background-color:#71bf44;
	border-color:#71bf44;	
}
.btn-primary:hover, 
.btn-primary:focus, 
.btn-primary:active, 
.btn-primary.active, 
.open .dropdown-toggle.btn-primary, 
.pagination > .active > a, 
.pagination > .active > span, 
.pagination > .active > a:hover, 
.pagination > .active > span:hover, 
.pagination > .active > a:focus, 
.pagination > .active > span:focus{
	background-color:#fff;
	border-color: #fff;
	color: #94a1a1;
	box-shadow: none !important;
} 

.newsLatterBox .btn,
.newsLatterBox .btn:hover{
	background:none;
}
.susbcribe-btn{
	width:124px !important;
	height:46px !important;
	color:#fff;
}
.icon-unlock{
	background-color: #363737;
	height: 30px;
	width: 30px;
	display: inline-block;
	border-radius: 5px;
	text-align: center;
	line-height: 30px;
	float:right;
	margin-top:-14px;
}	
.icon-unlock .fa{
	color:#fff;	
}
#menu-cart{
	position:absolute;
	right:0;	
	top:30px;
}
.cart-btn{
	color:#fff;
	display:block;	
}

/** BACKGROUND */
.bg-success{
	background-color:#71bf44;
}
.bg-warning{
	background-color:#9b711a;
}
.bg-danger{
	background-color:#a90329;	
}
.bg-info{
	background-color:#3276b1;	
}


/** SHOP CATEGORIES MENU */
.panel-default > .panel-heading{
	border-top:none;	
	padding:0;
}
.panel-title > a {
	font-size: 18px;
	line-height:21px;
	padding-bottom:17px;
	display:block;
}
.panel-alt{
	border:none;	
}
.panel-alt > .panel-heading{
	background-color:transparent;	
}
.panel-alt .panel-body{
	padding-top: 10px;
	padding-left: 0;	
	border-top:1px solid #cdd0d0;	
	border-bottom: 1px solid #cdd0d0;
}
.cat-panel-ul li{
	border-bottom:none;
	padding-top:5px;
	padding-bottom:5px;	
}
.cat-panel-ul li a{
	padding:0;
	font-size:16px;
	font-weight:700;
	text-transform:uppercase;
}
.category-top{
	padding-bottom:50px;	
}

/** TABLES */
.cartTable{
	border-top:none;	
}
.tr.CartProduct{
	border-bottom:none;	
}
.cartTableHeader{
	background:none;
	font-size:16px;
	font-weight:600;
}	
tr.CartProduct td{
	text-align:left;	
}
.CartProductThumb a img{
	width: 115px;
	box-shadow: 2px 2px 18px 5px #ebebeb;
	border: 1px solid #ebebeb;
	border-radius: 4px;
}
.cartFooter{
	padding:20px 0;
	border-top: none;
	background: none;
	display: inline-block;
	width: 100%;	
	border-bottom:1px solid #eee;
}
.cartFooter p{
	line-height:20px;	
}
.cartFooter .cart-total{
	line-height:110px;	
}
.subtotal-amount{
	font-style:normal;
	font-weight:700;	
}
/** PRODUCT DETAILS */
.sp-large{
	max-width:100% !important;	
}
.sp-thumbs{
	width:100% !important;
	position:relative;
	float:left;
	text-align:left;	
}
.sp-thumbs a:link, 
.sp-thumbs a:visited{
	float:left !important;	
}
.sp-thumbs img{
	width:164px !important;	
}
.price{
	color: #2e3838;
	font-size: 30px;
	margin-bottom: 10px;
	font-weight: 700;
}
.product:hover{
	border: 1px solid #cdd0d0;
	border-bottom: 2px solid #cdd0d0;	
}
.product-price{
	font-size:54px;
	font-weight:900;
}
.cart-actions button, 
.cart-actions .wishlist{
	margin:0 5px 0 0;
	font-size:18px;
	font-weight:400;
}
.cart-actions{
	margin-top: 0;
	margin-bottom:0; 
	border-bottom:none;
	padding-bottom: 12px;
	float: right;
	width:auto;	
}
.sp-thumbs a:first-child{
	margin-left:0 !important;
}
.sp-thumbs a:last-child{
	margin-right:0 !important;	
}

.sp-thumbs a:link, 
.sp-thumbs a:visited
.sp-thumbs a:hover, 
.sp-thumbs a:active, 
.sp-current, sp-current:visited{
	border:1px solid #eee !important;
	margin-right: 0 !important;
}
.sp-thumbs a:link, 
.sp-thumbs a:visited{
	transition:none !important;	
	padding:5px;
	border:1px solid #eee !important;
	border-radius:5px;
	margin:12px;
}
.checkout-terms-wrap{
	border-bottom:none;
	padding: 0;
	margin-top: 10px;
}
.agree-terms{
	font-size:13px;	
}


/** TABS */
.nav-tabs li a{
	font-size:16px;
	font-weight:400;
}
.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:hover, 
.nav-tabs > li.active > a:focus, 
.nav-tabs > li:hover > a{
	background:#363737;	
	border:1px solid #363737;
	border-radius: 5px 5px 0 0;	
}
.nav-tabs > li > a{
	border:1px solid #ccc;
	border-radius: 5px 5px 0 0;	
	border-bottom:0;
	text-transform:none;
}
.nav-tabs > li.active, 
.nav-tabs > li{
	margin-right:5px;	
}
.nav-tabs{
	border-bottom:1px solid #ebebeb;
}
.product-tab{
	margin-top:10px;	
}

.product-tab .nav-tabs li{
	min-width:130px !important;
	text-align:center  !important;	
}
.orderStep li a{
	background:#363737;
	border-left:1px solid #424242;
}
.orderStep li:first-child a{
	border-left:none;	
}
.orderStep li a i{
	color:#fff;	
}
.orderStep li.active a {
	background: none repeat scroll 0 0 #71bf44;
}
.orderStep li.active a:after{
	border-top-color: #71bf44 !important;	
}
.orderStep li a span{
	font-size:16px;
	color:#fff;
	font-weight:600;
}

/** PRODUCTS */
.product-details p{
	font-size:16px;
	line-height:22px;	
}
.product-desc{
	min-height:345px;	
}
.product-share{
	border-top:none;	
	margin-top:0;
}
.socialIcon > p{
	margin-right:10px;	
}
.socialIcon a{
	background:none;
	color:#363737;
	padding:0;
	width:auto;	
	margin-right:0;
	margin-left:10px;
}
.socialIcon a:hover{
	background:none;
	color:#71bf44;	
}
.productFilter{
	border-bottom: none;
	border-top: none;	
	margin-top:0;
	margin-bottom:0;
}
.filterBox {
	max-width: 135px;
	margin-top:12px;
}
.product-count{
	padding-top:0;	
}
.product{
	border:none;	
}
.product .image{
	min-height:266px;
	background-color:#000;
}
.item h4{
	min-height:22px;
	max-height:22px;	
}
.item h4 a{
	font-style: normal;
	font-size: 18px;
	font-weight: 700;
	color: #2e3838;		
}
.description{
	min-height:70px;	
}
.description p{
	color: #2e3838;
	font-size: 18px;
	min-height: 55px;
	max-height: 90px;
	overflow: hidden;
	line-height: 21px;
	font-style: italic;
	font-weight: 400;
	text-transform:lowercase;
}

/** MODEL WINDOw */
.modal-header{
	background:#fff;	
}
.modal-title-site{
	color:#363737;	
}
.modal-footer{
	background: #ebebeb;
	border-top: 1px solid #ebebeb;	
}

/** FOOTER */
.instagram-head{
	background-color:#ebe7e6;
	padding:8px 15px;	
}
.instagram-head .p{
	font-size:26px;	
}
.footer{
	background:#fff;
	border-top:none;	
	border-bottom:none;
}
.footer a{
	color:#363737;
}
.footer a:hover,
.footer a:focus{
	color:#71bf44;	
}
.footer-logo{
	float:left;	
}
.footer ul li a::after{
	content:"|";
	padding:0 15px;	
	color:#363737;	
}
.footer ul li:last-child a::after{
	content:"";
	padding:0;	
}
.footer ul li{
	float:left;	
	color:#9a9a9a;
	font-size:14px;
}
.footer-social{
	display: inline-block;
	float: left;
	margin-top: 54px;
	margin-left: 15px;
}
.footer-social a{
	color:#9a9a9a;	
}
.subscribe-slogan{
	font-size:14px;
	color:#363737;
	display:block;
}
.subscribe-box{
	padding-top:20px;
	text-align:right;
}
.subscribe-ul{
	float:right;	
}
.footer-cpy{
	display:block;
	color:#363737;	
	font-size:14px;
	float:left;	
}
.snap-widget{
	overflow:hidden;	
}


/* custom responsive */
@media (max-width: 1024px){
	.banner {
		margin-top: -54px !important;
	}
	.top-nav .nav li a{
		font-size:15px;
	}
	.navbar-brand img{
		width:100%;	
	}
}
@media (max-width: 991px) {
	.cart-action-wrap{
		margin-top:20px;	
		text-align:center !important;	
	}
	.cart-actions{
		float:none;	
	}
	.terms-wrap{
		text-align:center;	
	}
}
@media (max-width: 767px) {
	.navbar-brand img{
		height:51px;
		width:auto;
	}
 	.navbar-header {
		min-height:0	;
  	}
	.navbar{
		min-height:156px;	
	}
	.mob-nav-box{
		margin-top:15px;	
	}
	.mob-navbar-collapse .nav{
		background: #363737;
		margin-top: 78px;
		margin-bottom: 45px;
	}
	.nav > li.active, 
	.nav > li > a:hover, 
	.nav > li > a:focus, 
	.nav > li:hover > a{
		background:#71bf44;	
	}
	.mob-cart-btn{
		padding-left: 10px !important;
		padding-right: 10px !important;
	}
	.top-social li, .top-social li a{
		padding-top:0px;
		font-size:15px;	
	}
	.subscribe-box{
		text-align:left;
	}
	.subscribe-ul{
		float:left;	
	}
	.cart-qty-input{
		min-width:40px;	
	}
	.sp-thumbs{
		margin-bottom:20px;	
	}
	.sp-thumbs img{
		width: 158px !important;	
	}
	.btn-addcart{
		margin-bottom:20px !important;	
	}
	.cart-actions button, .cart-actions .wishlist{
		padding-top:14px;
		float:none;	
	}
	.userInfo{
		margin-bottom:20px;	
	}
	.table-responsive{
		border-left:none;
		border-right:none;	
	}
	.cartTable{
		border-left:none;
		border-right:none;
		min-width:700px;	
	}
	.cartFooter .cart-total{
		line-height:65px;	
	}
	.cc-year-wrap{
		padding-right:0;
		padding-left:0;
		margin-top:15px;	
	}
}


/** HELPERS */
.pull{
	float:right;	
}
.pull-txt{
	text-align:right;	
}
.margin-auto{
	margin:auto;
}
.inline{
	display:inline;	
}
.no-btm-margin{
	margin-bottom:0;	
}
.remove-gutters{
	padding-left:0;
	padding-right:0;
	margin-left:0;
	margin-right:0;	
}
.text-center{
	text-align:center !important;	
}
.no-padding{
	padding:0;	
}
.remove-left-gutter{
	padding-left:0;
	margin-left:0;	
}
.remove-right-gutter{
	padding-right:0;
	margin-right:0;	
}
.fw{
	width:100%;	
}
.center{
	text-align:center;	
}





